<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="eventLogType">
      <h2 data-cy="eventLogTypeDetailsHeading"><span jhiTranslate="lifeLogApp.eventLogType.detail.title">Event Log Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ eventLogType.id }}</span>
        </dd>
        <dt><span jhiTranslate="lifeLogApp.eventLogType.name">Name</span></dt>
        <dd>
          <span>{{ eventLogType.name }}</span>
        </dd>
        <dt><span jhiTranslate="lifeLogApp.eventLogType.template">Template</span></dt>
        <dd>
          <span>{{ eventLogType.template }}</span>
        </dd>
        <dt><span jhiTranslate="lifeLogApp.eventLogType.eventLog">Event Log</span></dt>
        <dd>
          <div *ngIf="eventLogType.eventLog">
            <a [routerLink]="['/event-log', eventLogType.eventLog?.id, 'view']">{{ eventLogType.eventLog?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event-log-type', eventLogType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
