<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-log-heading" data-cy="EventLogCreateUpdateHeading" jhiTranslate="lifeLogApp.eventLog.home.createOrEditLabel">
        Create or edit a Event Log
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="lifeLogApp.eventLog.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="lifeLogApp.eventLog.detail" for="field_detail">Detail</label>
          <input type="text" class="form-control" name="detail" id="field_detail" data-cy="detail" formControlName="detail" />
          <div *ngIf="editForm.get('detail')!.invalid && (editForm.get('detail')!.dirty || editForm.get('detail')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('detail')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="lifeLogApp.eventLog.createdDate" for="field_createdDate">Created Date</label>
          <div class="input-group">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="text"
              class="form-control"
              name="createdDate"
              ngbDatepicker
              #createdDateDp="ngbDatepicker"
              formControlName="createdDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="lifeLogApp.eventLog.updatedDate" for="field_updatedDate">Updated Date</label>
          <div class="input-group">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="text"
              class="form-control"
              name="updatedDate"
              ngbDatepicker
              #updatedDateDp="ngbDatepicker"
              formControlName="updatedDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="updatedDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="lifeLogApp.eventLog.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="lifeLogApp.eventLog.tags" for="field_tags">Tags</label>
          <select class="form-control" id="field_tags" data-cy="tags" multiple name="tags" formControlName="tags">
            <option
              [ngValue]="getSelectedTags(tagsOption, editForm.get('tags')!.value)"
              *ngFor="let tagsOption of tagsSharedCollection; trackBy: trackTagsById"
            >
              {{ tagsOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="lifeLogApp.eventLog.eventLogBook" for="field_eventLogBook">Event Log Book</label>
          <select class="form-control" id="field_eventLogBook" data-cy="eventLogBook" name="eventLogBook" formControlName="eventLogBook">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                eventLogBookOption.id === editForm.get('eventLogBook')!.value?.id ? editForm.get('eventLogBook')!.value : eventLogBookOption
              "
              *ngFor="let eventLogBookOption of eventLogBooksSharedCollection; trackBy: trackEventLogBookById"
            >
              {{ eventLogBookOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
