<div>
  <h2 id="page-heading" data-cy="EventLogBookHeading">
    <span jhiTranslate="lifeLogApp.eventLogBook.home.title">Event Log Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lifeLogApp.eventLogBook.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event-log-book"
        [routerLink]="['/event-log-book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lifeLogApp.eventLogBook.home.createLabel"> Create a new Event Log Book </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventLogBooks?.length === 0">
    <span jhiTranslate="lifeLogApp.eventLogBook.home.notFound">No eventLogBooks found</span>
  </div>

  <div id="entities" *ngIf="eventLogBooks && eventLogBooks.length > 0">
    <div class="event-log-table page-heading">
      <div scope="col"><span jhiTranslate="global.field.id">ID</span></div>
      <div scope="col"><span jhiTranslate="lifeLogApp.eventLogBook.uuid">Uuid</span></div>
      <div scope="col"><span jhiTranslate="lifeLogApp.eventLogBook.createdDate">Created Date</span></div>
      <div scope="col"><span jhiTranslate="lifeLogApp.eventLogBook.updatedDate">Updated Date</span></div>
      <div scope="col"><span jhiTranslate="lifeLogApp.eventLogBook.name">Name</span></div>
      <div scope="col"><span jhiTranslate="lifeLogApp.eventLogBook.description">Description</span></div>
      <div scope="col"><span jhiTranslate="lifeLogApp.eventLogBook.archieved">Archieved</span></div>
      <div scope="col"><span jhiTranslate="lifeLogApp.eventLogBook.user">User</span></div>
      <div scope="col"></div>
    </div>
  </div>
  <div>
    <div *ngFor="let eventLogBook of eventLogBooks; trackBy: trackId" data-cy="entityTable" (click)="eventId(eventLogBook.id)">
      <mat-accordion>
        <mat-expansion-panel class="event-log-table-wrapper">
          <mat-expansion-panel-header class="event-log-table">
            <div class="event-log-table-body">
              <a [routerLink]="['/event-log-book', eventLogBook.id, 'view']">{{ eventLogBook.id }}</a>
              <div>{{ eventLogBook.uuid }}</div>
              <div>{{ eventLogBook.createdDate | formatMediumDate }}</div>
              <div>{{ eventLogBook.updatedDate | formatMediumDate }}</div>
              <div>{{ eventLogBook.name }}</div>
              <div>{{ eventLogBook.description }}</div>
              <div>{{ eventLogBook.archieved }}</div>
              <div>
                {{ eventLogBook.user?.login }}
              </div>
              <div class="text-right">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/event-log-book', eventLogBook.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </button>

                  <button type="submit" class="btn btn-primary btn-sm" data-cy="entityEditButton" (click)="onEdit(eventLogBook)">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button type="submit" (click)="delete(eventLogBook)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>           
            <jhi-event-log [eventID]="eventLogBook.id"></jhi-event-log>          
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<!-- Pop up for edit -->
<ng-template #content let-modal>
  <div class="modal-header" *ngIf="eventRef">
    <h4 class="modal-title" id="modal-basic-title">Event log {{ eventRef?.id }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="eventRef">
    <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm">
      <div class="form-group">
        <label for="uuid">UUID</label>
        <div class="input-group">
          <input id="uuid" name="uuid" class="form-control" ngModel="{{ eventRef.uuid }}" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="datecreated">Created Date</label>
        <div class="input-group">
          <input id="datecreated" name="datecreated" class="form-control" ngModel="{{ eventRef.createdDate }}" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="datecreated">Updated Date</label>
        <div class="input-group">
          <input id="updateddate" name="updateddate" class="form-control" ngModel="{{ eventRef.updatedDate }}" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input id="name" class="form-control" name="name" ngModel="{{ eventRef.name }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input id="description" name="description" class="form-control" ngModel="{{ eventRef.description }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="archieved">Archieved</label>
        <div class="input-group">
          <input id="archieved" name="archieved" class="form-control" ngModel="{{ eventRef.archieved }}" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
</ng-template>
