<div>
  <h2 id="page-heading" data-cy="EventLogTypeHeading">
    <span jhiTranslate="lifeLogApp.eventLogType.home.title">Event Log Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lifeLogApp.eventLogType.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event-log-type"
        [routerLink]="['/event-log-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lifeLogApp.eventLogType.home.createLabel"> Create a new Event Log Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventLogTypes?.length === 0">
    <span jhiTranslate="lifeLogApp.eventLogType.home.notFound">No eventLogTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="eventLogTypes && eventLogTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="lifeLogApp.eventLogType.name">Name</span></th>
          <th scope="col"><span jhiTranslate="lifeLogApp.eventLogType.template">Template</span></th>
          <th scope="col"><span jhiTranslate="lifeLogApp.eventLogType.eventLog">Event Log</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventLogType of eventLogTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/event-log-type', eventLogType.id, 'view']">{{ eventLogType.id }}</a>
          </td>
          <td>{{ eventLogType.name }}</td>
          <td>{{ eventLogType.template }}</td>
          <td>
            <div *ngIf="eventLogType.eventLog">
              <a [routerLink]="['/event-log', eventLogType.eventLog?.id, 'view']">{{ eventLogType.eventLog?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/event-log-type', eventLogType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/event-log-type', eventLogType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(eventLogType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
