<div>
  <h2 id="page-heading" data-cy="TagsHeading">
    <span jhiTranslate="lifeLogApp.tags.home.title">Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lifeLogApp.tags.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tags"
        [routerLink]="['/tags/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lifeLogApp.tags.home.createLabel"> Create a new Tags </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tags?.length === 0">
    <span jhiTranslate="lifeLogApp.tags.home.notFound">No tags found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tags && tags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="lifeLogApp.tags.name">Name</span></th>
          <th scope="col"><span jhiTranslate="lifeLogApp.tags.description">Description</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tags of tags; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tags', tags.id, 'view']">{{ tags.id }}</a>
          </td>
          <td>{{ tags.name }}</td>
          <td>{{ tags.description }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tags', tags.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tags', tags.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tags)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
