<div>
  <div >
    <h2 id="page-heading" data-cy="EventLogHeading">
      <span jhiTranslate="lifeLogApp.eventLog.home.title">Event Logs</span>

      <div class="row m-3 mt-5">
        <p class="my-auto lead">Search :</p>
        <input [(ngModel)]="filterEventLogs" (ngModelChange)="filterAndSortEventLogs()" class="mx-3 px-2 form-control w-50" type="text" />
        <button class="mx-2 btn btn-dark" (click)="onClear()">Clear</button>
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="lifeLogApp.eventLog.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-event-log"
          [routerLink]="['/event-log/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="lifeLogApp.eventLog.home.createLabel"> Create a new Event Log </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
  </div>
  <div>
    <div class="alert alert-warning" id="no-result" *ngIf="eventLogs?.length === 0">
      <span jhiTranslate="lifeLogApp.eventLog.home.notFound">No eventLogs found</span>
    </div>
    <label *ngIf="reloadRequest != null">{{reloadRequest.id}}</label>
    <div
      class="table-responsive"
      id="entities"
      *ngIf="eventLogs && eventLogs.length > 0 && filteredAndSortedEventLogs && filteredAndSortedEventLogs.length > 0"
    >
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.uuid">Uuid</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.name">Name</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.detail">Detail</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.createdDate">Created Date</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.updatedDate">Updated Date</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.user">User</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.tags">Tags</span></th>
            <th scope="col"><span jhiTranslate="lifeLogApp.eventLog.eventLogBook">Event Log Book</span></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let eventLog of filteredAndSortedEventLogs; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/event-log', eventLog.id, 'view']">{{ eventLog.id }}</a>
            </td>
            <td>{{ eventLog.uuid }}</td>
            <td>{{ eventLog.name }}</td>
            <td>{{ eventLog.detail }}</td>
            <td>{{ eventLog.createdDate | formatMediumDate }}</td>
            <td>{{ eventLog.updatedDate | formatMediumDate }}</td>
            <td>
              {{ eventLog.user?.login }}
            </td>
            <td>
              <span *ngFor="let tags of eventLog.tags; let last = last">
                <a class="form-control-static" [routerLink]="['/tags', tags.id, 'view']">{{ tags.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            </td>
            <td>
              <div *ngIf="eventLog.eventLogBook">
                <a [routerLink]="['/event-log-book', eventLog.eventLogBook?.id, 'view']">{{ eventLog.eventLogBook?.id }}</a>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/event-log', eventLog.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button type="submit" class="btn btn-primary btn-sm" data-cy="entityEditButton" (click)="onEdit(eventLog)">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(eventLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Pop up for edit -->

<ng-template #content let-modal>
  <div class="modal-header" *ngIf="eventLogRef">
    <h4 class="modal-title" id="modal-basic-title">Event log {{ eventLogRef?.id }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="eventLogRef">
    <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm">
      <div class="form-group">
        <label for="uuid">UUID</label>
        <div class="input-group">
          <input id="uuid" name="uuid" class="form-control" ngModel="{{ eventLogRef.uuid }}" readonly />
        </div>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input id="name" class="form-control" name="name" ngModel="{{ eventLogRef.name }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="detail">Detail</label>
        <div class="input-group">
          <input id="detail" name="detail" class="form-control" ngModel="{{ eventLogRef.detail }}" />
        </div>
      </div>

      <!-- User Dropdown -->

      <div class="form-group">
        <label for="field_user">User</label>
        <select class="form-control" id="field_user" data-cy="user" name="user" [ngModel]="eventLogRef.user">
          <option [ngValue]="null"></option>
          <option
            [ngValue]="userOption.id === eventLogRef.user?.id ? eventLogRef.user!.login : userOption"
            *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
          >
            {{ userOption.login }}
          </option>
        </select>
      </div>

      <!-- Tags Dropdown -->

      <div class="form-group">
        <label for="field_tags">Tags</label>
        <select class="form-control" id="field_tags" data-cy="tags" multiple name="tags" [ngModel]="eventLogRef.tags">
          <option
            [ngValue]="getSelectedTags(tagsOption, eventLogRef?.tags ?? [])"
            *ngFor="let tagsOption of tagsSharedCollection; trackBy: trackTagsById"
          >
            {{ tagsOption.id }}
          </option>
        </select>
      </div>

      <!-- Log Book Dropdown -->

      <div class="form-group">
        <label for="field_eventLogBook" ngModel>Event Log Book</label>
        <select
          class="form-control"
          id="field_eventLogBook"
          data-cy="eventLogBook"
          name="eventLogBook"
          [ngModel]="eventLogRef.eventLogBook"
        >
          <option [ngValue]="null"></option>
          <option
            [ngValue]="eventLogBookOption.id === eventLogRef.eventLogBook?.id ? eventLogRef.eventLogBook?.id : eventLogBookOption"
            *ngFor="let eventLogBookOption of eventLogBooksSharedCollection; trackBy: trackEventLogBookById"
          >
            {{ eventLogBookOption.id }}
          </option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
</ng-template>
